html {
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-weight: 700;
  }

main {
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
    padding: 5%;
   
}
.car-type { 
    display: flex;
    flex-direction: row;
    height: 100%;
}
 /*common features*/
.card {  
    display: block;
    
}
.card > img {
      margin: 2.5rem;
  
}
.card > h3 { 
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  font-size: 2.5rem;
  color: hsl(0, 0%, 95%);
  margin-left: 2.5rem;
  margin-bottom: 2.5rem;
}
.card > p {
  display: block;
  height: 15rem;
  font-family: 'Lexend Deca', sans-serif; 
  font-weight: 300;
  font-size: 1rem;
  color: hsla(0, 0%, 100%, 0.75);
  margin: 0rem  2.5rem;
      
}
.card > button {
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  margin-left: 2.5rem;
  margin-bottom: 2.5rem;
  border-radius: 2rem;
  background-color: hsl(0, 0%, 95%);
  border: 0.1rem;
  border-color: (0, 0%, 95%);
  border-style: solid;
}
/* Unique features */
.sedan {
    background-color: hsl(31, 77%, 52%);
}
    .sedan > button {
      color: hsl(31, 77%, 52%);
    }
         .sedan > button:hover {
             background: inherit;
             color: hsl(0, 0%, 95%);
            }
.SUV {
    background-color: hsl(184, 100%, 22%);
}
    .SUV > button {
      color: hsl(184, 100%, 22%);
    }
         .SUV > button:hover {
             background-color: inherit;
             color: hsl(0, 0%, 95%);
             }
.luxury {
    background-color: hsl(179, 100%, 13%);
}
    .luxury > button { 
      color: hsl(179, 100%, 13%);
    }
         .luxury > button:hover { 
             background-color: inherit;
             color: hsl(0, 0%, 95%);
            }    
    
/* Media */

@media (min-width:320px) and (max-width:812px) {
    .car-type {
        flex-direction: column;
    }
    .card {
        height:100vh;
    }


}
@media (min-width: 567px), (max-width:812px) and (orientation:landscape) {
    .card {
        height: auto;
    }
}

  
  
  
  
  
  