html {
    font-size: 10px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    width: 100vw;
    height: 100vh;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-details {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    width: 65rem;
    
}
.drawers {
    background-image: url(/images/drawers.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 25rem;
    width: 100%;
    background-size: cover;
    border-radius: 5% 0 0 5%;
    
}
.content {
    color: hsl(217, 19%, 35%);
    padding: 2rem;
    background-color: #fff;
    height: 25rem;
    border-radius: 0 5% 5% 0;
}
.user-review > h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    
}
.user-review > p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: hsl(214, 17%, 51%);
}

.review-by {
    display: flex;
    justify-content: space-between;
}
.review-by > .user-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-profile > img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-right: 1rem;
}
.user-name > h4 {
    font-size: 1.5rem;
    color: hsl(217, 19%, 35%);
}
.user-name > p {
    font-size: 1.5rem;
    color: hsl(214, 17%, 51%) ;
}

.myBtn  {
    background-image: url(/images/icon-share.svg);
    background-repeat: no-repeat; 
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color:hsl(210, 46%, 95%) ;
    /*color: hsl(214, 17%, 51%);*/
    background-position: center;
    border-style: hidden;
    position: relative;
    text-align: center;
}

.myBtn:hover {
    background-color:hsl(217, 19%, 35%) ;
    /*color: hsl(210, 46%, 95%);*/
    transition: .5s;
}
.partajare {
    position: absolute;
    color: antiquewhite;
    top: -110%;
    right: -130%;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-top: 1rem;
    padding-left: 0rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    opacity: 0.7;
    visibility: hidden;
    border-radius: 5rem;
    
    
}
.partajare > * {
    margin-left: 1rem;
}
.active {
    visibility: visible;
}
